body.bg {
            margin: 0;
            font-family: "Segoe UI", Arial, sans-serif;
            background: url("admin/background.jpg") no-repeat center fixed;
            background-size: cover;
            min-height: 100vh;
        }

        .page-header {
            text-align: center;
            margin-bottom: 35px;
        }

        .page-header h1 {
            position: relative;
            display: inline-block;
            font-size: 55px;
            font-weight: 800;
            letter-spacing: 1px;
            margin-bottom: 8px;
            color: white;
            z-index: 1;
            padding: 12px 24px;
            
        }
        .page-header h1::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(90deg, blue ,purple );
            border-radius: 12px 12px 18px 18px; /* tab feel */
            z-index: -1;
        }
        .subtitle {
            font-size: 30px; 
            font-weight: 800;
            color: black;
        }

        .top-action {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 25px;
        }

        .top-action a {
            background: #1E40AF;
            color: #fff;
            border-radius: 12px;
            padding: 10px 18px;
            font-weight: 600;
            text-decoration: none;
            transition: 0.3s;
        }

        .top-action a:hover {
            background: #1E3A8A;
        }

        .announcement-box h2 {
            font-size: 22px;
            margin-bottom: 12px;
            color: #1E3A8A;
        }

        .announcement h3 {
            font-size: 16px;
            margin-bottom: 4px;
        }

        .announcement p {
            font-size: 14px;
            color: #374151;
        }

        .announcement small {
            font-size: 12px;
            color: #6B7280;
        }

        .map-box h2 {
            font-size: 22px;
            margin-bottom: 12px;
            color: #1E3A8A;
        }

        .map-box p {
            font-size: 24px;
        }
    
        .map-box img {
            max-width: 100%;
            max-height: 520px;  
            object-fit: contain;
            display: block;
            margin: 0 auto 15px auto;
            border-radius: 10px;
        }
